<%- include("../../shared/includes/head", { pageTitle: "All Products" }) %>
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>All administration</h1>
        <section>
            <h2>Manage products</h2>
            <p><a href="/admin/products/new" class="btn">Add product</a></p>
        </section>
        <section>
            <p>All list of products...</p>
        </section>
    </main>
    <%- include("../../shared/includes/footer") %>